.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items at the start */
    justify-content: center;
    margin-top: 50px;
    border: 2px solid #131862;
    background-color: blanchedalmond;
    border-radius: 4px;
    width: min-content;
    padding: 20px;
}
.main-form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items at the start */
    justify-content: center;
    margin-top: 50px;
}
button {
    border: 2px #131862 solid;
    border-radius: 4px;
    height: 30px;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: left; /* Align items at the start */
    justify-content: center;
}
input {
    height: 30px;
    width: 200px;
    border-color: #131862;
    border-radius: 4px;
    margin: 12px;
}
