.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.loginTitle {
    font-size: 25px;
    padding-bottom: 20px;
    /* color: red; */
}
body {
    background-color: slategray;
}

.login {
    padding: 40px;
    width: max-content;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: center;
    top: 100px;
    border-radius: 10px;
}
.label-span {
    /* justify-content: start; */
    align-self: self-start;
}
.label-span {
    color: #131862;
}
.submit {
    border-color: blanchedalmond;
    border-radius: 4px;
    background-color: slategray;
    height: 30px;
    /* cursor: not-allowed; */
}
.submit-gray {
    border-color: blanchedalmond;
    border-radius: 4px;
    background-color: #131862;
    height: 30px;
    /* cursor: pointer; */
}
button:hover {
    cursor: pointer;
}
input {
    height: 30px;
    width: 200px;
    border-color: #131862;
    border-radius: 4px;
    margin: 12px;
}
.div-span {
    display: flex;
    flex-direction: column;
    /* align-self: self-start; */
    width: 100%;
}

.div-span span {
    align-self: self-start;
    padding: 5px;
}
button {
    margin: 15px;
}
.message-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    border-radius: 4px;
}
.message {
    /* color: red; */
    font-size: 20px;
    align-self: self-start;
    padding: 5px;
}
