.subject-name-teacher {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.subject-name-teacher button {
    cursor: pointer;
    align-self: flex-end;
}
.break {
    height: 4px;
    width: 100%;
    background-color: cyan;
    border-radius: 2px;
}
