.page-container {
    padding: 10px 30px 30px 30px;
}
.profile-container {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding: 10px;
    align-self: flex-end; /* Add this line */
}
#profile-img {
    border-width: 4px;
    border: #131862 solid;
    width: min-content;
}
.image-container {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* align-items: center;
    justify-content: center; */
}
.img-edit {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
