.overlay-background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fadein 0.5s; */
}
.overlay-container {
    background-color: blanchedalmond;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    padding: 30px;
    width: 600px;
    height: max-content;
}
/* .overlay-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */
.overlay-button-close {
    display: flex;
    justify-content: right;
}

.overlay-close {
    border: 2px solid #131862;

    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
/* .overlay-close::after {
    display: inline-block;
    content: '\00D7';
} */
.checkbox {
    width: min-content;
}

.note-destination-container {
    display: flex;

    align-items: center;
    margin-bottom: 10px;
}
