.user-menu {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.user-name {
    color: blanchedalmond;
    /* background-color: red !important; */
}
a {
    text-decoration: none;
}
img {
    /* shape-margin: circle; */
    border-radius: 50%;
}
.button-add {
    border: 4px solid;
    border-color: blanchedalmond;
    background-color: slategray;
    padding: 15px;
    border-radius: 4px;
    color: black;
}
.container-menu-components {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
